* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #0e1a25ee;
    color: #dadbdccb;
    padding: 7% 15%;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
}

h2 {
    padding: 2% 0;
}

p{
    padding: 3% 2%;
}

ul {
    text-align: center;
}

li {
    list-style: none;
}
